/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@300;700&family=Playfair+Display:wght@500&display=swap');

/* Color Variables */
:root {
  --bg-color: #1a1a2e;
  --nav-bg-color: #16213e;
  --footer-bg-color: #0f3460;
  --text-color: #e0e0e0;
  --accent-color: #f1c40f;
  --hover-color: #f39c12;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header Styles */
header {
  background-color: var(--nav-bg-color);
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
}

header h1 {
  font-family: 'MedievalSharp', cursive;
  font-size: 2rem;
  color: var(--accent-color);
  margin: 0;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--hover-color);
}

/* Container for the sign-in greeting (Header/Footer) */
.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signin-greeting-header {
  margin-top: -12px;
  font-size: 18px;
}

.signin-greeting-header, .signin-greeting-footer {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.signin-greeting-header button {
  font-size: 18px;
}

.signin-greeting-header button:hover {
  background-color: #0f3460;
  color: #f39c12;
  cursor: pointer;
  border: 1px solid #000000;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(240, 240, 240, 0.4);
}

.signin-greeting-footer button:hover {
  background-color: #0f3460;
  color: #f39c12;
  cursor: pointer;
  border: 1px solid #000000;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(240, 240, 240, 0.4);
}

.signin-greeting-footer button {
  font-size: 16px;
  margin-top: -5px;
}

/* Main Content */
main {
  flex-grow: 1;
  padding: 2px;
  text-align: center;
  min-height: 74.5vh;
}

.signin-form-container {
  background-image: url('../public/assets/background-dragon.jpg');
  background-size: cover;
  background-position: center;
  min-height: 74.5vh;
}

/* Footer Styles */
footer {
  background-color: var(--footer-bg-color);
  padding: 1rem;
  text-align: center;
  border-top: 2px solid var(--accent-color);
}

footer p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

footer nav ul {
  justify-content: center;
}
